
.post--container{
    background: #e6ecf0;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    height: auto;
    text-align: left;
    border-right: 0.5px solid lighten(#1a1a1a, 83%);
    border-left: 0.5px solid lighten(#1a1a1a, 83%);
    overflow-y: scroll;
}
.post--container--title{
    height: 55px;
    max-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid lighten(#1a1a1a, 83%);
    background: #FFF;
    padding: 0 15px;
    h1{
        font-weight: 800;
        font-size: 1.25rem;
    }
    i{
        color: $blue;
        font-size: 1.35rem;
    }
}
.post--container--form{
    background: #FFF;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
    .post--container--form--icons{
        width: 92%;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        border-top: 0.5px solid #eeeeee;
        transform: translate(5%, 0);
        padding-top: 5px;
        i{
            font-size: 1.25rem;
            color: $lightBlue;
            cursor: pointer;
            border-radius: 9999px;
            padding: 8px;
            transition: all .25s ease;
            &:hover{
                background-color: lighten($blue, 44%);
            }
        }
    }

    textarea{
        padding-top: 11px;
        padding-right: 2px;
        height: 115px;
    }
}
.post--container--posts{
    flex-grow: 1;
    background: #FFF;
    margin-top: 10px;
}
.progress_bar {
    height: 10px;
    background: orange;
    width: 0%;
    -moz-transition: all 4s ease;
    -moz-transition-delay: 1s;
    -webkit-transition: all 4s ease;
    -webkit-transition-delay: 1s;
    transition: all 4s ease;
    transition-delay: 1s;
  }
@import './commentForm';
@import './commentItem';
@import '../posts/postItem';

// Media Q

@media only screen and (max-width: 1450px){
    .post--container{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        border-right: 0.5px solid #eeeeee;
        border-left: 0.5px solid #eeeeee;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 1100px){
    .post--container{
        h1{
            font-size: 1.6rem;
        }
    }
}
@media only screen and (max-width: 800px){
    .post--container{
        width: 95%;
        h1{
            font-size: 1.65rem;
            margin-bottom: unset;
        }
        .form input[type='submit']{
            padding: 5px 15px;
            width: 17%;      
        }
        .form textarea {
            width: 65%;
        }
        .post-item, .profile-widget-item, .comment-item {
            width: 100%;
        }
        .post--header, .comment-item--userTitle {
            padding: 0px 5px;
        }
        .post--header img, .comment-item--userTitle img {
            height: 70px;
            width: 70px;
        }
        .post--header h4, .comment-item--userTitle h4 {
           font-size: 1.1rem;
           font-weight: 500;
        }
        .post--header button, .comment-item--userTitle button {
            font-size: .95rem;
        }
        .post--body{
            width: 60%;
        }
        .post--body p, .comment-item--info p {
            font-size: 1rem;
        }
        .post--actionBox .fa, .post--actionBox .fas {
            font-size: 1.45rem;
            padding: 0;
            margin: 0;
        }
        .post--actionBox{
            a{
                display: flex;
                flex-basis: 35%;
                justify-content: center; 
            }
        }
        .post--actionBox span {
            display: flex;
            flex-basis: 35%;
            justify-content: center;
            margin-left: 0;
            font-size: 1.1rem;
        }

    }
}
@media only screen and (max-width: 700px){
    .post--container .form input[type='submit']{
        width: 30%;
    }
    .post--container .form textarea{
        width: 90%;
    }
}