body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}
ul li{
    list-style-type: none;
}
a{

    text-decoration: none;
    &:link, &:visited{
        color: black;
    }
}
.active{
    font-size: 1.15rem!important;
    border-radius: 5px!important;
    transition: all .25s ease-in-out!important;
    font-size: 1.35rem!important;
    color: deepskyblue!important;
    background: #e6f9ff!important;
    padding: 15px 20px!important;
    margin: -15px -20px!important;
    i{
        color: deepskyblue!important;
    }
}
textarea{
    resize: none;
}
#root{
    width: 100%;
}
.ReactModal__Overlay{
    background-color: transparent!important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  .ReactModalPortal .ReactModal__Overlay {
    position: absolute!important;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
  }
  .ReactModalPortal>div {
    opacity: 0;
  }

.ReactModal__Content{
    border: .25px solid rgba(85, 85, 85, .35);
    box-shadow: 1px 0px 1.5px lighten(deepskyblue, 35%),
                -1px 0px 1.5px lighten(deepskyblue, 35%);
    width: 14%;
    border-radius: 5px;

}
.repost--modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    button{
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        outline: none;
        font-size: 1.15rem;
        margin: -15px;
        padding: 15px;
        &:hover{
            cursor: pointer;
        }
    }
}
.repost--modal--header{
    width: 100%;
    background: transparent;
    transition: all .35s ease;
    &:hover{
        color: lighten(deepskyblue, 20%);
        cursor: pointer;
    }
    p{
        font-size: 1.05rem;
        i{
            font-size: 1.25rem;
        }
    }
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
.repost--modal--commentary--close{
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    margin: -15px;
    padding: 15px;
    &:hover{
        cursor: pointer;
    }
}

.repost--modal--commentary--header{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .repost--modal--commentary--input{
            display: flex;
            margin: 20px;
            width: 95%;
            align-items: center;
            justify-content: flex-start;
            textarea{
                outline: none;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                margin-left: 10px;
            }
        }
        img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .repost--modal--commentary--data{
            border: 1px solid rgba(0, 0, 0, .25);
            border-radius: 25px;
            padding: 10px;
            width: 75%;
            margin-bottom: 3rem;
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
        input[type='submit']{
            background: none;
            border: 1.5px solid lighten(deepskyblue, 25%);
            border-radius: 25px;
            outline: none;
            background: lighten(deepskyblue, 25%);
            padding: 10px 20px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 15px;
            right: 20px;
            transition: all .35s ease;
            &:hover{
                cursor: pointer;
                background: transparent;
            }
        }
    }
}

.container{
    margin: 0 auto 0 auto;
    width: 100%;
}

.fa-commenting{
    color: darken(rgba(0, 191, 255, .5), 10%);
}
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: .25px solid darken(rgba(0, 191, 255, .15), 35%);
    background: white;
    z-index: 1000;
    .navBar--container{
        width: 55%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        margin: 0 auto;
        input{
            outline: none;
            border: transparent;
            border-radius: 20px;
            background: darken(rgba(0, 191, 255, .25), 30%);
            height: 25px;
            text-align: center;
            color: #000;
            letter-spacing: 1px;
           }
        button{
            background: transparent;
            border: .15px solid deepskyblue;
            border-radius: 20px;
            padding: 5px 10px;
            outline: none;
            margin: 0 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.navBar--h1{
    font-size: 2rem;
}
.navBar--h1__span{
    font-weight: 300;
    font-size: .9rem;
    display: block;
    color: darken(rgba(0, 191, 255, .5), 35%);
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        padding: 10px;
        border: .15px solid deepskyblue;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0 10px;
    }
}
.hide{
    display: none;
}
.newsFeed{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    margin: 70px auto 0 auto;
    ul{
        width: 55%;
        padding: 0;
    }
}
.newsFeed--article-section{
    width: 75%;
}
.loginBox{
    height: 100%;
    z-index: 1000;
    width: 25%;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}
.newsFeed--newsFilterBar{
    width: 100%;
    text-align: center;
    background: white;
}
.newsFeed--newsFilterBar--container{
    padding-top: 10px;
    margin: 0;

}
.newsFeed--newsFilterBar--header{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.newsFeed--newsFilterBar--buttons{
    display: flex;
    align-items: center;
    ul{
        margin: 25px auto;
        li{
            padding: 15px;
            margin: -15px;
            border-bottom: 3px solid transparent;
            background: lighten(skyblue, 100%);
            transition: all .35s ease-in-out;
            &:hover{
                cursor: pointer;
                border-bottom: 3px solid lighten(skyblue, 10%);;
                background: lighten(skyblue, 25%);
            }
        }
    }
    ul{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
.newsFeed--newsFilterBar--image{
    position: relative;
    height: 405px;
    .newsFeed--newsFilterBar--image__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to left bottom, rgba(0, 0, 0, .35), rgba(0, 0, 0, .75));
        .info-box{
            width: 90%;
            word-break: break-all;
            color: white;
            text-align: left;
            padding: 0;
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 0 15px 5px;
            font-size: 1.25rem;
            p{
                margin: 0;
                padding: 0 0 0 5px;
            }
            p:last-of-type{
                padding: 5px;
            }
        }
    }
    img{
        height: 100%;
        width: 100%;
    }
}
.newsFeed--article--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: white;
    margin: 25px 0;
    border-bottom: .25px solid rgba(0, 0, 0, .25);
    &:first-of-type{
        margin-top: 10px;

    }
}
.newsFeed--article--container--info{
    width: 100%;
    .button-container{
        display: flex;
        button{
            margin: 0 10px;
            border: none;
            background: transparent;
            padding: 5px 10px;
            display: flex;
            i{
                font-size: 1.25rem;
            }
            &:hover{
                cursor: pointer;
            }

        }
    }

}
.newsFeed--article--title{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
}
.newsfeed--article--image{
width: 25%;
display: flex;
align-items: flex-end;
justify-content: flex-end;
padding-bottom: 15px;
margin-bottom: 15px;
    a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        flex-direction: column;
        img{
            width: 100%;
            margin: 0 auto;
            height: 100%;
        }
    }
}

.login--form{
    border: 0.25px solid rgba(0, 57, 77, 0.15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    margin-left: 25px;
    position: fixed;
    top: 100px;
    background: url('https://images.pexels.com/photos/1022923/pexels-photo-1022923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: bottom;
    i{
        font-size: 6rem;
        color: deepskyblue;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input{
            margin: 5px 0;
        }
    }
}
.divider{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
.loginButton{
    background: transparent;
    border: 2px solid deepskyblue;
    border-radius: 20px;
    padding: 5px 10px;
}
.loginFooter{
    position: absolute;
    bottom: -20px;
    font-size: .87rem;
&:last-of-type{
    bottom: -40px;
}
}

.article-image-missing{
    font-size: 4.5rem;
}

.dashboard--container{
    display: flex;
    height: 100vh;
    max-width: 750px;
    margin: 0 auto;
    border-right: 0.5px solid lighten(#1a1a1a, 83%);
    border-left: 0.5px solid lighten(#1a1a1a, 83%);
    padding: 0 10px;
}
.dashboard--navbar{
    height: 100%;
    max-width: 600px;
    padding-right: 15px;
    position: fixed;
    left: 20rem;
}
.dashboard--center-console{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
    /* Hide scrollbar for Chrome, Safari and Opera */
    .dashboard--center-console::-webkit-scrollbar {
        display: none;
    }
  
.dashboard--chatBox{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.dashboard--newsfeed{
    height: 100%;
    width: 100%;
}
.dashboard--widgets{
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: fixed;
    right: 16rem;
}
.dashboard--widgets__posts{
    height: 50%;
    width: 99%;
    background: #e8f4f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    flex-direction: column;
    
}
.dashboard--widgets__people{
    height: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    textarea{
        background: transparent;
        outline: none;
        border: 1px solid lighten(deepskyblue, 40%);
        width: 80%;
        transition: .35s all ease-in-out;
        border-radius: 5px;
        height: 100px;
        padding: 10px 10px;
        &:focus{
            background: lighten(deepskyblue, 45%);
        }
    }
    button{
        background: transparent;
        border: 2px solid #b3ecff;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        margin: 10px 0;
        transition: .35s all ease-in-out;
        &:hover{
            cursor: pointer;
            border: 2px solid deepskyblue;
        }
    }
}
.dashboard--profile-widget{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p{
        margin-left: -30px!important;
    }
}
.profile-widget-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    @extend .post-item;
    h1{
        margin-top: 0;
    }
}
.profile-widget-item-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.dashboard--widgets__search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    input{
        background: transparent;
        outline: none;
        border: 1px solid lighten(deepskyblue, 40%);
        width: 80%;
        transition: .35s all ease-in-out;
        border-radius: 5px;
        height: 35px;
        padding: 0 10px;
        &:focus{
            background: lighten(deepskyblue, 45%);
        }
    }
    button{
        background: transparent;
        border: 2px solid lighten(deepskyblue, 35%);
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        margin: 10px 0;
        transition: .35s all ease-in-out;
        &:hover{
            cursor: pointer;
            border: 2px solid lighten(deepskyblue, 0);
        }  
     }
}  
.postsWidget, .dashboard--profile-widget{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    background: lighten(lightblue, 15%);
    border-radius: 5px;
    position: relative;
    h2{
        text-align: center;
    }
    h4{
        margin-bottom: 0;
        display: inline;
    }
    p{
        margin: 5px;
    }
    .seeMore{
        padding: 5px 0;
        border-top: 0.25px solid #4dd2ff;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 5px 0;
        border-top: .25px solid lighten(deepskyblue, 15%);
        a{
            text-align: center;
            margin: 0 auto;
            display: block;
        }
    }
}
.post-item{
    width: 95%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid lighten(#1a1a1a, 83%);
    border-bottom: 0.5px solid lighten(#1a1a1a, 83%);
    &:last-of-type{
        margin-bottom: 35px;
    }
}
.my-1{
    line-height: 35px;
}
.post--header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    flex-direction: column;
    div{
        word-break: break-word;

    }
    p{
        text-align: center;
    }
    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    h4{
        margin: 5px auto 10px auto;
    }
    button{
        background: none;
        border: none;
        color: darkred;
        outline: none;
        &:hover{
            cursor: pointer;
        }
    }
}
.post-date{
    margin-top: 5px;
    margin-bottom: 10px;
}
.post--body{
    width: 65%;
    word-break: break-word;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: cener;
    p{
        letter-spacing: 1.15px;
        padding: 5px;
    }
}
.repost{
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding-bottom: 5px;
    transform: translate(3%, -2%);
    .repostAvatar{
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    img{
        height: 200px;
        width: 100%;
    }
}

.post--actionBox{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.15rem;
    .fa, .fas{
        color: rgba(0,0,0, .45);
        width: 100%;
        margin: -20px;
        padding: 20px;
        transition: .25s all ease;
        &:hover{
            cursor: pointer;
            color: lighten(deepskyblue, 5%);
        }
    }
}
.post--container,
.profiles--container{
    display: flex;
    height: 100vh;
    max-width: 750px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    border-right: 0.5px solid lighten(#1a1a1a, 83%);
    border-left: 0.5px solid lighten(#1a1a1a, 83%);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    textarea{
        background: transparent;
        outline: none;
        border: 1px solid #ccf2ff;
        width: 55%;
        transition: .35s all ease-in-out;
        border-radius: 5px;
        height: 125px;
        padding: 7px 10px; 
        font-size: 1.2rem;
        letter-spacing: .5px;
        color: lighten(grey, 35%);
        transition: all .35s ease-in-out;
        &:focus{
            color: darken(blue, 95%);
        }
    }
    input{
        background: transparent;
        border: 2px solid #b3ecff;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        margin: 10px 0;
        transition: .35s all ease-in-out;
        &:hover{
            cursor: pointer;
            border: 2px solid deepskyblue;
        }
    }
}
.newsFeed--widget{
    width: 100%;
}
.newsFeed--article-section__widget{
    width: 85%;
    margin: 0 auto;
}

.dashboard--navBar-icon{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    a{
        font-size: 2rem;
    }
}
.dashboard--navBar-list{
    height: 75%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 35px;

    ul{
        margin-top: 3rem;
        text-align: left;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        li{
            margin: 2rem 0;
            display: flex;
            font-size: 1.15rem;
            background: transparent;
            border-radius: 25px;
            transition: all .25s ease-in-out;
            padding: 15px;
            font-size: 1.35rem;
            &:hover{
                cursor: pointer;
                color: deepskyblue;
                i{
                    color: deepskyblue;
                }
            }
            i{
                font-size: 1.35rem;
                padding-right: 20px;
                color: black;
                transition: all .25s ease-in-out;
            }
        }
    }
}
.dashboard--navBar-greeting-box{
    height: calc(100vh - 50px - 75%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    a{
        padding: 20px;
        margin: -20px;
    }
}
.dashboard--navBar-greeting-box--image{
    height: 25%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 10px;
    img{
        height: 100%;
        width: 25%;
        border-radius: 50%;
        margin-right: -50px;
    }
    i{
        padding: 25px;
        margin: -25px;
        &:hover{
            cursor: pointer;
        }
    }
}
.dashboard--navBar-greeting-box--header{
    display: flex;
    flex-direction: column;
    span{
        :last-of-type{
            align-items: center;
        }
    }
}
.modal--container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal--header{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        background: transparent;
        border: none;
        font-size: 1em;
        padding: 10px;
        margin: -10px;
        border-radius: 50%;
        transition: all .35s ease-in-out;
        &:hover{
            cursor: pointer;
            color: deepskyblue;
            background: lighten(deepskyblue, 45%);
         }
    }
    .title{
        margin-left: -4rem;
        display: flex;
        flex-direction: column;
        span{
            &:last-of-type{
                align-self: center;
            }
        }
    }
    p{
        display: block;
    }
    img{
        height: 100%;
        width: 20%;
        border-radius: 50%;
        margin-right: 35px;
    }
}
.modal--settings{
    width: 100%;
    height: 35%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 5px;
    span{
        border-top: .5px solid lighten(deepskyblue, 35%);
        display: flex;
        align-self: center;
        justify-content: flex-start;
        padding: 19px 12px;
         margin: -10px;
        width: 100%;
        transition: all .35s ease-in-out;
        &:hover{        
            cursor: pointer;
            background: lighten(deepskyblue, 45%);
            color: deepskyblue;
    }
}
}

.profile-widget-item-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile--container{
    flex-direction: column;
    display: flex;
    height: 100vh;
    max-width: 750px;
    margin: 0 auto;
    border-right: 0.5px solid lighten(#1a1a1a, 83%);
    border-left: 0.5px solid lighten(#1a1a1a, 83%);
}

.profile--top{
    background: lighten(deepskyblue, 45%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 35%;
width: 100%;
    img{
        border-radius: 50%;
    }
    h1{
        margin: 15px 0 0 0;
    }
}

.profile--mid{
background: #f4f4f4;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
height: 15%;
width: 100%;
word-wrap: break-word;
p{
    padding: 5px 10px;
    text-align: center;
}
}
.profile--mid__interests{
    width: 90%;
    display: flex;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.profile--bottom{
    width: 100%;
    margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        li{
            border-bottom: 3px solid lighten(deepskyblue, 44%);
            border-right: .75px solid lighten(deepskyblue, 44%);
            flex-basis: 47%;
            list-style-type: none;
            padding: 5px 7px;
            &:nth-of-type(even){
                border-right: none;
                text-align: right;
                border-left: .75px solid lighten(deepskyblue, 44%);
    
            }
        }
    }
}
.dashboard--profile--following{
    width: 100%;
    background: #e6f9ff;
    padding: 5px 0 30px 0;
}
.dashboard--profile--following--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 25%;
}
.dashboard--profile--following--container-user{
    margin: 0 5px;
    p{
        text-align: center;
    }
}

.profiles--container{
    display: flex;
    height: 100vh;
    width: 47%;
    margin: 0 auto;
}

