*{
    font-size: 16px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    color: $black;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    font-family: 'Lato', sans-serif;
    background: url('../img/mainBackk.svg');
    background-attachment: fixed;
    background-size: contain;
    background-position: bottom;
}
#root{
    width: 100%;
    height: auto;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    transition: all .35s ease;
    &:link, &:visited{
        color: #868686;
    }
    &:hover{
        color: $black;
        cursor: pointer;
    }
}