.register--modal{
    &:focus{
        border: none;
        outline: none
    }
}


.ReactModalPortal > div {
    opacity: 0;
  }
  .ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
  }
  .ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
  }
  .ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
  }

.modal--container{
    background: $white;
    height: 500px;
    width: 500px;
}
.ReactModal__Overlay--after-open{
    background: rgba(153, 153, 153, 0.8)!important;
    z-index: 5;
    &:focus{
        outline: none;
        border: none;
    }
}