.register--modal{
  max-width: 80vw;
  max-height: 90vh;
  min-height: 400px;
  height: 735px;
  min-width: 700px;
  flex-shrink: 1;
  background: white;
  overflow: hidden;
    &:focus{
        border: none;
        outline: none
    }
}


.ReactModalPortal > div {
    opacity: 0;
  }
  .ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
  }
  .ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
  }
  .ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
  }


.ReactModal__Overlay--after-open{
    background: transparent!important;
    z-index: 5;
    &:focus{
        outline: none;
        border: none;
    }
}
.modal--container{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform .35s ease, opacity .25s ease;
    transform: translate(100%, 0);
    opacity: 0;
}
.activeSlide{
  transform: translate(0, 0);
  opacity: 1;
}