.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: .25px solid darken(rgba(0, 191, 255, .15), 35%);
    background: white;
    z-index: 999;
    .navBar--container{
        width: 55%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        margin: 0 auto;
        input{
            outline: none;
            border: transparent;
            border-radius: 20px;
            background: darken(rgba(0, 191, 255, .25), 30%);
            height: 25px;
            text-align: center;
            color: #000;
            letter-spacing: 1px;
           }
        button{
            background: transparent;
            border: 2px solid deepskyblue;
            border-radius: 5px;
            padding: 5px 10px;
            outline: none;
            margin: 0 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.navBar--h1{
    a{
        font-size: 1.75rem;
        color: $black;
    }
}
.navBar--h1__span{
    font-weight: 300;
    font-size: .9rem;
    display: block;
    color: darken(rgba(0, 191, 255, .5), 35%);
}
.navBar--navLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        padding: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 10px;
        a{
            color: #868686;
            transition: all .35s ease;
            &:hover{
                color: $blue;
                cursor: pointer;
            }
        }
    }
}

// Media Qs
@media only screen and (width: 1024px) and (height: 1366px){
    .navBar .navBar--container {
        width: 90%;
    }
    .navBar--h1__span {
        font-weight: 400;
        font-size: 1.05rem;
        display: block;
    }
    .navBar--navLinks li {
        padding: 10px 15px;
    }
}
@media only screen and (max-width: 1100px){
    .navBar .navBar--container {
        width: 90%;
    }
}
@media only screen and (max-width: 700px){
    .navBar{
        position: relative;
        top: unset;
        transform: unset;
        left: unset;
    }
    .navBar--h1 {
        font-size: 1.25rem;
    }
    .navBar--h1__span {
        font-size: .85rem;
    }

}
@media only screen and (max-width: 375px){
    .navBar--h1 {
        font-size: 1rem;
    }
    .navBar--h1__span {
        font-size: .7rem;
    }
    .navBar .navBar--container {
        width: 100%;
        padding: 0 5px;
    }
    .navBar--navLinks li {
        padding: 2px 7px;
    }

}
@media only screen and (max-width: 320px){
    .navBar--navLinks{
        padding-left: unset;
    }
    .navBar--h1 a{
        font-size: 1.5rem;
    }
}