.page-not-found{
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -35px;
    h1{
        margin-bottom: 0;
    }
}
// Media Qs
@media only screen and (max-width: 700px){
    .page-not-found {
        height: 100vh;
    }
}