.login{
    padding-top: 50px;
    width: 35%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    i{
        font-size: 3.5rem;
        margin-bottom: 25px;
    }
    h1{
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 1.1px;
        margin: 25px 0 -10px 0;
    }
    form{
        width: 100%;
        label{
            height: 100%;
            text-align: left;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .login--input-label{
            padding: 10px 15px 0 15px;
            span{
                color: #688897;
                font-size: 1.5rem;
                letter-spacing: 1.1px;
            }
        }
        input[type='text'],
        input[type='email'],
        input[type='password']{
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid #000;
            padding: 10px 10px 5px 10px;
            width: 100%;
            font-size: 1.75rem;
            &:focus,
            &:valid{
                border-bottom: 1px solid $blue;
            }
        }
        .login--submit-container{
            width: 100%;
        margin-top: 30px;
        }
        input[type='submit']{
            min-width: calc(62.79px);
            border-radius: 9999px;
            background: $blue;
            border:1px solid $blue;
            min-height: 39px;
            padding: .75rem 1rem;
            font-size: 1.5rem;
            color: $white;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            transition: all .15s ease;
            &:hover{
                background: darken($blue, 5%);
            }
        }
        .login--input-container{
            min-width: 200px;
            width: 100%;
            margin-right: 25px;
            margin-top: 35px;
            background: #f5f8fa;
        }
    }
    .login--sign-up{
        margin-top: 25px;
        a{
            font-size: 1.1rem;
            padding-right: 30px;
        }
    }
}

@media (max-width: 800px){
    .login {
        width: 55%;
    }
    .spanLink{
        font-size: 1.1rem;
    }
}
@media (max-width: 600px){
    .landing--hero-right, .landing--hero-left, .landing--hero-left {
        padding: 25px!important;
    }
    .landing--hero-right--center-box i {
        font-size: 3rem!important;
        margin-bottom: 0!important; 
    }
    .landing--hero-right--center-box .landing--hero-right--center-box--inner h1 {
        font-size: 2.5rem!important;
    }
    .landing--hero-right--center-box .landing--hero-right--center-box--inner div {
        margin-top: 25px!important;
    }
    .landing--hero-right--center-box .landing--hero-right--center-box--inner a, .landing--hero-right--center-box .landing--hero-right--center-box--inner .spanLink {
        padding: 5px 0!important;
        margin-top: 5px!important;
    }
}