.login-box--container{
    height: 100%;
    z-index: 1000;
    width: 25%;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media only screen and (max-width: 800px){
    .login-box--container {
        width: 43%;
    }
}