.dashboard--profile{
    height: 100%;
    display: flex;
    background: red;
    width: 1000px;
}
.dashboard--profile--container{
    display: flex;
    background: purple;
}
.dashboard--profile--center-console{
    background: lime;
    height: 100%;
}
.dashboard--profile--aside-bar{
    background: darkolivegreen;
    height: 100%;
}