.dashboard--navbar{
    height: 100vh;
    width: 100%;
    padding-right: 15px;
    grid-area: navBar;
    overflow: hidden;
    margin-left: 50px;
    background: rgba(255, 255, 255, .9);
}
.dashboard--navBar-icon{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    a{
        font-size: 2rem;
        color: $black;
    }
}
.dashboard--navBar-list{
    height: 75%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    justify-content: space-around;
    .dashboard--navBar--no-profile{
        margin-top: 3rem;
        text-align: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    ul{
        margin-top: 3rem;
        text-align: left;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        li{
            margin: 2rem 0;
            display: flex;
            font-size: 1.15rem;
            background: transparent;
            border-radius: 25px;
            transition: all .25s ease-in-out;
            padding: 15px;
            font-size: 1.35rem;
            &:hover{
                cursor: pointer;
                i{
                    color: $black!important;
                }
                a{
                    color: $black!important;

                }
            }
            i{
                font-size: 1.35rem;
                padding-right: 20px;
                color: #868686;
                transition: all .25s ease-in-out;
            }
        }
    }
}
.dashboard--navBar--greeting-box{
    height: calc(100vh - 50px - 75%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    a{
        padding: 20px;
        margin: -20px;
    }
}
.dashboard--navBar--greeting-box__image{
    height: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 10px;
    img{
        height: 100%;
        width: 25%;
        border-radius: 50%;
    }
    i{
        padding: 25px;
        margin: -25px;
        &:hover{
            cursor: pointer;
        }
    }
}
.dashboard--navBar--greeting-box__header{
    display: flex;
    flex-direction: column;
    span{
        :last-of-type{
            align-items: center;
        }
    }
}


// Media Qs
@media only screen and (max-width: 1450px){
    .dashboard--navbar{
        margin-left: unset;
        padding: unset;
    }
    .dashboard--navBar--greeting-box__image {
        width: 80%;
    }
    .dashboard--navBar-list {
         padding-left: unset; 
    }
}
@media only screen and (width: 1024px) and (height: 1366px){
    .dashboard--navBar--greeting-box__image{
        width: 90%;
        img{
            height: 75px;
            width: 75px;
        }
    }
    .dashboard--navBar--greeting-box__header{
        font-size: 1.1rem;
    }
    .dashboard--navBar-icon {
        padding-left: 2rem;
        margin-top: 5px;
    }
    .dashboard--navBar-icon a {
        font-size: 2.5rem;
    }
    .dashboard--navBar-list ul {
        li{
            a{
                font-size: 1.5rem;
            }
        }
    }

}
@media only screen and (max-width: 900px){
    .dashboard--navBar--greeting-box__image {
        width: 90%;
    }
    .dashboard--navBar-icon {
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        padding-left: 10px;
            a{
                font-size: 1.75rem;
            }
        }
        .dashboard--navBar-list ul {
            padding: unset;
            margin-top: 5rem;
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
}
@media only screen and (max-width: 800px){
    .dashboard--navbar{
        border-right: 0.5px solid #eeeeee;
    }
    .dashboard--navBar--greeting-box__image{
        width: 95%;
    }
    .dashboard--navBar-icon a {
        font-size: 2rem;
        i{
            font-size: 2.5rem;
            margin-top: 15px;
        }
    }
    .dashboard--navBar-list ul li a {
        font-size: 1.25rem;
        letter-spacing: 1.05px;
    } 
}
@media only screen and (max-width: 700px){
    .dashboard--navbar {
        display: none;
    } 
}

